<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lekton|Inter|Trirong">
</head>
<style>
    h1.a {font-family: "Lekton", sans-serif;}
    h1.b {font-family: "Inter", sans-serif;}
    h1.c {font-family: "Trirong", serif;}

    body {
      margin: 0;
      padding: 0;
      width: 100%;
    }

    header {
        width: 100vw;
    }

    img {
        max-width: 20%;
        max-height: 30%;
    }
</style>
<div class="container-fluid text-white px-0"> 
    <header class="d-flex bg-dark justify-content-center py-3">
  
        <ul class="nav nav-pills">
            <li class="nav-item" style="font-size: 2vw; font-family:'Lekton'">
                Monte Carlo Simulation: Predicting Stock Prices
            </li>
        </ul>
    
    </header>
</div>

<br>
<div class="container" style="font-family: 'Inter', Times, serif;">
    <h>
        <div class="row">
            <!-- <div class="col-6 align-self-start"> -->
    
                <div class="container text-center" style="font-weight: bolder; font-size: 4vw">
                    <b>Current Price: {{ currentstockprice }} </b>
                </div>
                <br>
                <div class="container text-center">
                   <i> {{ brand }} Stock Data </i>
                </div>
                <br>
            </div>
                <div class="col align-self-end">
                    <!-- <img src= {{ logo }} alt="logo"> -->
                </div>

            <br>
              
            
            <br>
            <!-- <img src="static/MCGBMformula.png" alt="Formula"> -->
    </h>
</div>


<div class="row">
    <div class="col-sm-6 px-5">
      <div class="card text-center" style="box-shadow: 0px 0px 0px rgba(0,0,0,0.16), 6 6px 6px rgba(0,0,0,0.23);">
        <div class="card-body">
          <h3 class="card-title">Lowest Price</h3>
          <h5 class="card-text">${{ minprice }}</h5>
          <p class="card-text" style="color:darkgray">{{ mindate }}</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
    <div class="col-sm-6 px-5">
      <div class="card text-center">
        <div class="card-body">
          <h3 class="card-title">Highest Price</h3>
          <h5 class="card-text">${{ maxprice }}</h5>
          <p class="card-text" style="color:darkgray;">{{ maxdate }}</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
  </div>
<br>
<div class="container center">
    <div class="card text-center">
      <div class="card-body">
        <h3 class="card-title">Data Analytics</h3>
        <p class="card-text" style="color:darkgray;">Mean: ${{ mean }} </h5>
        <p class="card-text" style="color:darkgray;">Volatility/Standard Deviation: ${{ standev }}</h5>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
  </div>




{{ fig }}

 
<center><a href="https://www.investopedia.com/articles/07/montecarlo.asp">Source</a></center>

</html>